<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PngBmpWidthPng" value="720" />
    <add key="PngBmpHeightPng" value="720" />
    <add key="PngBmpWidthBmp" value="720" />
    <add key="PngBmpHeightBmp" value="720" />
    <add key="BmpWidth" value="720" />
    <add key="BmpHeight" value="720" />
    <add key="PngWidth" value="720" />
    <add key="PngHeight" value="720" />
    <add key="JpegWidth" value="720" />
    <add key="JpegHeight" value="720" />
    <add key="Department" value="0" />
    <add key="Format" value="1" />
    <add key="CheckedYear" value="true" />
    <add key="CheckedStartNumber" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs; Libs\LibDevs"/>
    </assemblyBinding>
  </runtime>
</configuration>