<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Width" value="720"/>
		<add key="Height" value="720"/>
		<add key="Width_BMP" value="720"/>
		<add key="Height_BMP" value="720"/>
		<add key="Department" value="0"/>
		<add key="Format" value="PNG"/>
		<add key="Checked" value="true"/>
	</appSettings>
</configuration>